<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReloopBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ReloopBoard.Properties.Settings>
            <setting name="OutputSticky" serializeAs="String">
                <value />
            </setting>
            <setting name="InputSticky" serializeAs="String">
                <value />
            </setting>
            <setting name="VirtualMicSticky" serializeAs="String">
                <value />
            </setting>
            <setting name="VirtualMicDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="InputDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="LeaveVirtualMicBlank" serializeAs="String">
                <value>False</value>
            </setting>
        </ReloopBoard.Properties.Settings>
    </userSettings>
</configuration>